mixin size-toggler(data)

    .size-toggler&attributes(attributes)
      input(type="radio", id=data.id, name=data.name, checked=data.checked, disabled=data.disabled, required)
      label(for=data.id)=data.id
